html {
  background: #CCCCFF;
}
body { 
  text-align: center;
}
h1 { 
  color: #E98596;
	border:dashed black;
}


ul {
  list-style-type: none;
}
h1{
	 text-align:center;
	 color:#00008B;
	 text-decoration: underline;
	 font-size: 70px;
}
img{
	height: 30%;
	width 25%;
	border: 10px solid #00008B; 
	}
h2{
		text-align:center;
}
h3{
	color:#00008B;
	text-align:center;
	text-decoration: underline;
}
<marquee behavior="scroll" direction="down" scrollamount="1" height="100px">langzaam omlaag</marquee>
