html {
  background: #CCCCFF;
}
body { 
  text-align: center;
}
h1 { 
  color: #E98596;
	border:dashed black;
}


ul {
  list-style-type: none;
}
body{
    background:url(https://www.enjpg.com/img/2020/light-pink-background-3.png);
}
	 text-align:center;
	 color:#00008B;
	 text-decoration: underline;
	 font-size: 70px;
}
img{
	
	border: 10px solid #00008B;
}
h2{
		text-align:center;
}
h3{
	color:#00008B;
	text-align:center;
}
